################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs/Open-Content-Image-Gallery/FileContentIndex
/.vs
