
.jplist-hidden {
    display: none;
}

.gallery-img-wrap {
    display: inline-block;
    aspect-ratio: 1 /1;
}

.gallery-img-wrap img {
    object-fit: contain;
    height: 100% !important;
    width: 100% !important;
}


.jplist-panel .pagination {
    margin: 0;
}


.oembedall-container {

    border: #eee solid 1px;
    padding: 3px;

}

.jplist-hide-preloader {
    display: none
}

.jplist-preloader {
    height: 30px;
    line-height: 30px;
    margin: 10px 10px 0 0;
    float: right
}


.text-filter-box.form-group .fa {
    padding-right: 10px;
    padding-top: 10px;
    font-size: 1.1rem;
}

/* Tags */
.tags span {
    background-color: #999999;
    display: inline-block;
    padding: 0.3em 0.5em;
    font-size: 0.9em;
    font-weight: bold;
    color: #ffffff;
    vertical-align: baseline;
    white-space: nowrap;
    border-radius: 3px;

}

.tags span.jplist-selected {
    background-color: #ff6a00;
}

ul.tags {
    list-style: none;
    margin-left: 0;
}


ul.tags span {
    cursor: pointer;
}

.tags li {
    display: inline-block;
}



/* Pager */
.oc-photo-album .pagination li {

    margin: 0 0.3em;

}

.oc-photo-album .pagination li a {
    background: #eee;
    display: inline-block;
    width: 2.5em;
    line-height: 2.5em;
    text-align: center;
}

.oc-photo-album .pagination li.active a {
    background: hsl(95.76923077, 50%, 50%);
    color: #fff;
}

/* Image List */

.gallery-list-wrapper {
    --images-distance: 0.7em;

    display: flex;
    flex-wrap: wrap;
    margin: 0 calc(var(--images-distance) * -1);
    container-type: inline-size;
  }
  
  
  
  .gallery-list-wrapper{
    .photo_box {
      width: 100%;
      flex-grow: 0;
      padding: 0 var(--images-distance) calc(var(--images-distance) * 2);
  
    }
  }
  
  @container (min-width: 440px) {
    .gallery-list-wrapper{
    .photo_box {
      
      flex-basis: 50%;
  
    }
  }
  }
  
  
  @container (min-width: 768px) {
    .gallery-list-wrapper{
    .photo_box {
      
      flex-basis: 33.333333%;
  
    }
  }
  }
  
  @container (min-width: 992px) {
    .gallery-list-wrapper{
    .photo_box {
      
      flex-basis: 20%;
  
    }
  }
  }
  
  .photo_box > a{
	  display: block;
	  aspect-ratio: 1/1;
  }
  
  .gallery-icon {
   
    padding: 0.5em;
    border: 1px solid #dddddd;
    background: #fff;
    width: 100%;
    height: 100%;
  
  }
  .list-image-scale .gallery-icon{
    object-fit: scale-down;
  }
  .list-image-crop .gallery-icon{
    object-fit: cover;
  }


/* Details */
.fancybox-container{
    z-index: 100000;
}

